<main>
  <h1>Ajouter un article</h1>
  <form [formGroup]="f">
    <label>
      <div>Nom</div>
      <input type="text" appAutofocus formControlName="name" />
      <div class="error">
        <ng-container *ngIf="f.controls.name.touched">
          <span *ngIf="f.controls.name.errors?.required">
            oups... champ requis.
          </span>
          <span *ngIf="f.controls.name.errors?.maxlength">
            oups... trop long :
            {{ f.controls.name.errors?.maxlength.actualLength }} >
            {{ f.controls.name.errors?.maxlength.requiredLength }} caractères.
          </span>
        </ng-container>
      </div>
    </label>
    <label>
      <div>Prix</div>
      <input type="number" min="0" step="0.01" formControlName="price" />
    </label>
    <label>
      <div>Quantité</div>
      <input type="number" min="0" formControlName="qty" />
    </label>
    <button [disabled]="f.invalid" type="submit" class="primary">Créer</button>
  </form>
</main>
<!-- {{ f.value | json }} -->
