<main>
  <h1>Liste des articles</h1>
  <nav>
    <button (click)="articleService.refresh()"><fa-icon [icon]="faRedo"></fa-icon></button>
    <button class="add" routerLink="/article/create"><fa-icon [icon]="faPlus"></fa-icon></button>
    <button (click)="remove()" [hidden]="selectedArticles.length === 0"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
  </nav>
  <table>
    <caption>
      Liste des articles
    </caption>
    <thead>
      <tr>
        <th scope="row">Nom</th>
        <th scope="row">Prix</th>
        <th scope="row">Quantité</th>
      </tr>
    </thead>
    <tbody>
      <tr
        (click)="toggle(a)"
        [class.selected]="selectedArticles.includes(a)"
        *ngFor="let a of articleService.articles$ | async"
      >
        <td class="name">{{ a.name | ellipsis: 15 }}</td>
        <td class="price">{{ a.price | currency }}</td>
        <td class="qty">{{ a.qty }}</td>
      </tr>
    </tbody>
  </table>
</main>
