<main>
  <h1>Liste des articles</h1>
  <nav>
    <button>Rafraichir</button>
    <button routerLink="/article/create">Ajouter</button>
  </nav>
  <table>
    <caption>
      Liste des articles
    </caption>
    <thead>
      <tr>
        <th scope="row">Nom</th>
        <th scope="row">Prix</th>
        <th scope="row">Quantité</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">2.45 €</td>
        <td class="qty">288</td>
      </tr>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">2.45 €</td>
        <td class="qty">1288</td>
      </tr>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">12.45 €</td>
        <td class="qty">288</td>
      </tr>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">2.45 €</td>
        <td class="qty">288</td>
      </tr>
      <tr>
        <td class="name">Tournevis cruciforme</td>
        <td class="price">2.45 €</td>
        <td class="qty">288</td>
      </tr>
    </tbody>
  </table>
</main>
